<!DOCTYPE html>
<html>
  <head>
    <title>ArticlesApp</title>
    <%= csrf_meta_tags %>
    <%= env_stylesheet_link_tag(static: 'application_static',
                                 hot: 'application_non_webpack',
                                 media: 'all',
                                 'data-turbolinks-track' => true)  %>
    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
